body {
    margin: 0;
    padding: 0;
    background-color: #34495e;
    color: #eaeaea;
    font: 16px;
    line-height: 1.5;
    font-family: 'MicroSoft Yahei', 微软雅黑, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.main {
    background-color: #ecf0f1;
    width:80%;
    min-width:600px;
    max-width:1024px;
    min-height:800px;
    margin: 0 auto;
    border-left: solid 4px #2c3e50;
    border-right: solid 4px #2c3e50;
}

.seprator {
    height:1px;
    border:none;
    border-top:1px solid #555555;
    margin-left: 0;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
}

.top10 {
    margin-top: 10px;
}

.top {
    padding: 2px 2px 2px 2px;
}

.top .basic {
    background-color: #95a5a6;
    height: 80px;
    cursor: pointer;
    position: relative;
}

.top .basic .name {
    font-size: 20px;
    margin-bottom: 10px;
}
.top .basic .mood {
    font-size: 10px;
}

.content {
    color:#2c3e50;
    border-right: solid 3px #bdc3c7;
    margin-bottom: 40px;
    min-height: 800px;
}

.content .post {
    padding: 10px 15px 10px 15px;
    border: 2px solid #7f8c8d;
    margin-top: 10px;
}

.content .post .title {
    font-size:20px;
}

.content .post .excerpt {
    margin-top: 10px;
}

.right_block {
    width: 100%;
    background-color: #eaeaea;
    margin-bottom: 20px;
}

.right_block .title{
    width: 100%;
    height: 20px;
    font-size: 15px;
    color: #eaeaea;
    background-color: #95a5a6;
    display: block;
    padding-left: 20px;
}

.right_block .substance {
    width: 100%;
    color: blue;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.right_block .substance a {
    margin-top: 5px;
    display: inline-block;
}

.right_block .substance a:first-child {
    margin-top: 10px;
}

.right_block .substance .tag {
    cursor: pointer;
    float: left;
    background-color: #dadada;
    display: inline-block;
}

.category {
    margin-top: 20px;
    margin-left: 20px;
}

.category .category_name {
    font-size:25px;
}

.category .category_post {
    margin-left: 20px;
    margin-top: 5px;
}


.archive {
    margin-top: 20px;
    margin-left: 20px;
}

.archive .archive_month {
    font-size:25px;
}

.archive .archive_post {
    margin-left: 20px;
    margin-top: 5px;
}


.subscriber {
}


.icon {
    margin: auto;
    display: inline-block;
    width:15px;
    height:15px;
    overflow: hidden;
    background-image: url(/images/icon.png)
}

.rss {
    background-position: -53px -149px;
}