<div class='right_block'>
    <span class='title'>分类</span>
    <div class='substance'>
    {% for category in site.categories %}
        <a href='{{ site.baseUrl }}/category.html#{{ category | first }}'>
            {{ category | first }}({{ category | last | size }})
        </a>
        {% if forloop.last != true %}
        <hr class='seprator' />
        {% endif %}
    {% endfor %}
    </div>
</div>
<div class='right_block'>
    <span class='title'>归档</span>
    <div class='substance'>
        {% capture count %} {{ 0 }} {% endcapture%}
        {% for post in site.posts %}
            {% capture count %} {{ count | plus:1 }} {% endcapture %}
            {% if post.previous %}
                {% capture currentTime %} {{ post.date | date: '%h %Y'}} {% endcapture%}
                {% capture previousTime %} {{ post.previous.date | date: '%h %Y'}} {% endcapture%}
                {% if previousTime != currentTime %}
                    <a> {{ post.date | date: '%h %Y' }}({{ count | plus:0 }})</a>
                    <hr class='seprator' />
                    {% capture count %} {{ 0 }} {% endcapture %}
                {% endif %}
            {% else %}
                <a>{{ post.date | date: '%h %Y'}}({{ count | plus:0 }})</a>
            {% endif %}
        {% endfor %}
    </div>
</div>