{% include header.html %}
<div class='main clearfix'>
    <div class='row-fluid'>
        <div class='col-md-12 top'>
            <div class='col-md-12 basic'>
            {% include title.html %}
            </div>
        </div>
        <div class='col-md-9 content'>
        {{ content }}
        </div>
        <div class='col-md-3 right'>
            <div class='subscriber'>
                <a href='{{site.baseUrl}}/feed.xml' target='_blank' ><div class='icon rss'></div></a>
            </div>
            {% include categorylist.html %}
            {% include archivelist.html %}
        </div>
    </div>
</div>

{% include footer.html %}